@use 'variaveis';

.faq {
    margin-top: 50px;
    padding: 10px 20px;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        &__item {
            margin-bottom: 16px;

            &__question {
                display: flex;
                align-items: flex-start;
                gap: 8px;

                &__box {
                    flex: 1;
                    color: variaveis.$CorTexto1;
                    font-size: 20px;
                    padding: 24px;
                }

                &__sign {
                    color: variaveis.$CorTexto1;
                    font-size: 24px;
                    font-style: bold;
                    cursor: pointer;
                }
            }

            &__answer-closed {
                display: none;
            }

            &__answer-opened {
                display: flex;
                height: auto;
                align-items: start;
                padding: 24px;
                border-top: 1px solid variaveis.$CorTexto1;
                background-color: variaveis.$CorDeFundo3;
            }
        }
    }
}