@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$CorDeFundo1;

    &__container {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        max-height: 40px;
    }

    &__button {
        width: 175px;
        height: auto;
        text-decoration: none;
        text-align: center;
        background-color: variaveis.$CorBotao2;
        color: variaveis.$CorTexto1;
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid variaveis.$CorBotao1;
        font-weight: bold;

        &:hover {
            background-color: variaveis.$CorBotao1;
            color: variaveis.$CorTexto2;
        }
    }
}