@use 'variaveis';

.history {
    margin-top: 50px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;

    @media(max-width: 760px) {
        grid-template-columns: 1fr;

        p {
            text-align: center;
        }
    }

    img {
        max-width: 100%;
    }

    h2 {
        margin-bottom: 24px;

        @media(max-width: 760px) {
            text-align: center;
        }
    }
}